<!-- search/templates/search.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Search</title>
</head>
<body>
    <h1>Enter Mine Name</h1>
    <form method="GET" action=".">
        {{ form.as_p }}
        <button type="submit">Search</button>
    </form>

    <h2>Results</h2>
    <ul>
        {% for result in results %}
            <li> Minecode : {{ result.minecode }},  Mine : {{ result.mine }}, Owner : {{ result.owner }}, Region : {{ result.region }}</li>
        {% empty %}
            <li>No results found.</li>
        {% endfor %}
    </ul>
</body>
</html>



<!-- <body>
    <h1>Search Minecode</h1>
    <form method="get" action=".">
        {{ form.as_p }}
        <button type="submit">Search</button>
    </form>
    <h2>Results</h2>
    <ul>
        {% for result in results %}
            <li>{{ result }}</li>
        {% empty %}
            <li>No results found</li>
        {% endfor %}
    </ul>
</body> -->
</html>
