<!DOCTYPE html>
<html lang="ën">
<head>
    <meta charset="utf-8">
    <title> TextUtilities</title>

</head>
<body>
    <h1>Welcome to Text Analyser</h1> <br><br>
    <h3>Enter your text here</h3>
    <form action="/analyze" method="get">
        <textarea name="text" style = 'margin: 0px; width: 721px; height: 93px;'></textarea><br>
        <input type="checkbox" name="removepunc"> Remove punctuations <br>
        <input type="checkbox" name="fullcaps"> Convert to uppercase <br>
        <input type="checkbox" name="newlineremove"> Remover new line <br>
        <input type="checkbox" name="extraspaceremove"> Remove extra space <br>
        <input type="checkbox" name="countcharacters"> Remove extra space <br>
        <button type="submit"> Analyze text </button>
    </form>
</body>
</html>